/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2018, 9:50:57 AM
    Author     : sarangam
*/

.modal-header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

.modal-header .close {
    top: 35%;
}

.form-group {
    margin-bottom: 12px;
}